
/* HEADER||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


body{
   
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
::-webkit-scrollbar{
    width: 0;
}
#hamburger{
    z-index: 2000;
  
  
  
  
}
#hamburger span {
  
    transition: all;
    transition-duration: 0.5s ;
    background-color: black;

}
#hamburger.nonactive span{
   background-color: white;
}
#hamburger.nonactive:hover span:nth-child(1){
    transform: translateY(-3px);
}
#hamburger.nonactive:hover span:nth-child(2){
   transform: translateY(3px);
}

#navbar{
  z-index: 200;
}
.list Link:hover{
    opacity: 0.3;
    cursor: pointer;
    
}
.fr{
    
    background-size: cover;
    
}
#skilltext{
    font-size: 300px;
    opacity: 0.2;
    text-align: center;
    width: 100%;
}


.title{
    font-family: "Jost", sans-serif;
  font-weight: 400;
  left: 50px;
  font-size: 9.345rem;
 
}





::selection{
     background-color: black;
     color: white;
}

/*  */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.grad{
    
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,transparent,white 20%,white 80% ,transparent );
    mask: linear-gradient(90deg,transparent,white 20% , white 80%, transparent);
}



@keyframes drop{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}


.wards{
    animation: dows 5s alternate  infinite ;
   
}
@keyframes dows{
    0%{
        rotate: -45deg;
        transform:translateX(0%);
    }
    100%{
        rotate: -45deg;
        transform: translateX(-5%);
    }
}
.wardq{
    animation: dowsq 5s alternate  infinite ;
   
}
@keyframes dowsq{
    0%{
        rotate: -45deg;
        transform:translateX(0%);
    }
    100%{
        rotate: -45deg;
        transform: translateX(5%);
    }
}

.loader {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #FFF #0000;
    animation: l1 1s infinite;
  }
  @media screen and (max-width:640px){
    .loader{
        width: 50px;
        border-radius: 4px solid;
        border-color: #FFF #0000;
    }
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}

/* HTML: <div class="loader"></div> */

  .loaderr{
    z-index: 3000;
  }